<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>fancy goat talks</title>
  <link rel="stylesheet" href="static/community.css">
</head>
<body>
  <header>
    <div class="header-content">
      <div class="text-content">
        <h1>Share your recipes!</h1>
        <h3>Share your recipes with the community and get feedback on your cooking skills.</h3>
      </div>
      <div class="image-container">
        <img src="static/logo.png" alt="">
      </div>
    </div>
  </header>
  <main>
    <div class="card-container">
      <section class="transparent-card small">
        <h2>Add a New Post</h2>
        <form method="POST">
          <textarea name="content" placeholder="Post Content" required></textarea>
          <button type="submit">Submit Post</button>
        </form>
      </section>
      <div class="transparent-card big">
        <h2>All Posts</h2>
        {% for post in posts %}
        <div class="post">
          <div class="single-post">
          <p class="post-creator">{{ post['creator'] }}</h5>
          <p>{{ post['content'] }}</p>
          </div>
          <div class="comments">
            <h3>Comments</h3>
            {% for comment in comments[post['id']] %}
            <div class="single-comment">
            <p class="comment-user">{{ comment['creator'] }}</h5>
            <p>{{ comment['content'] }}</p>
            </div>
            {% endfor %}
            <form method="POST">
              <input type="hidden" name="post_id" value="{{ post['id'] }}">
              <textarea name="comment_content" placeholder="Your Comment" required></textarea>
              <button type="submit">Submit Comment</button>
            </form>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </main>
</body>
</html>
