<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fancy goat</title>
<link rel="stylesheet" href="static/design.css">
</head>
<body>
    
    <ul>
        {% for ingredient in ingredients %}
        <li>{{ ingredient }}</li>
        {% endfor %}
    </ul>
    <div class="image-container">
        <img src="static/logo.png" alt="">
      </div>

    <script>
      // Show loading screen when the form is submitted
    document.getElementById('uploadForm').addEventListener('submit', function () {
      document.getElementById('loadingScreen').style.display = 'flex';
    });
  </script>
</body>
</html>